<h1>yeh hai gudia ka facebook <%= user1.name %> </h1>
<% tweet.each do |tweet| %>
<%= tweet.content%>

<%if user.id == user1.id%>
<form action = "/deletetweet" method="POST">
<input type = "hidden" name = "id"  value="<%= tweet.id %>" >
<button>Delete Tweet</button>
</form>
<form action = "/edittweet" method = "POST">
<input type = "text" name = "content">
<input type = "hidden" name = "id" value = "<%= tweet.id %>">
<input type = "submit" value = "Edit">
</form>
<% end %>
<% end %>
<form action = "/follow" method = "POST">
	<button>Follow Me</button>
	<input type = "hidden" name = "id" value = "<%= user.id %>">
</form>